tr.attheader {
    text-align: center;
}

.ar-file-pdf {
    /* max-height: 25px; */
    cursor: pointer;
    font-size: 25px
}

section.block.block_academic_reports.card.mb-3 {
    /* width: 46.2%; */
    position: relative;
    /* left: 49.5%; */
    /* margin-left: 2%; */
    height: 24rem;
}


.my-custom-scrollbar {
    position: relative;
    height: 185px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: inline-block;
    height: 17rem;
}


.spinner-border.text-primary.ac-reports-working {
    height: 1rem;
    width: 1rem;
}

.ar-download-report-container {
    margin-left: 36rem;
}

.ar-title {
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {

    section.block.block_academic_reports.card.mb-3 {
        width: 100%;
        position: relative;
        margin-left: 0;
        left: 0;
        top: 0 !important;
    }
}