{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.

@package block_academic_reports
@copyright 2021 Veronica Bermegui
@license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}

<section id="ac-reports" class="academic-reports-section">
<div class="ar-downloading" hidden>
    <div class="spinner-border text-primary ac-reports-working"  role="status"></div><br>
    <h4>{{#str}} generatingfile, block_academic_reports {{/str}}</h4>
</div>
     <div class = 'ar-download-report-container'>
        <span><a href="#"  class = 'ar-download-all'>Download reports</a>        
     </div> 
    
    <div class="card-body">
        <h3 class=" ar-title">{{#str}} pluginname, block_academic_reports {{/str}}</h3>
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <dl>
                        <dd>
                                <table class="table table-responsive  table-wrapper-scroll-y my-custom-scrollbar">
                                    <thead>
                                        <tr class="attheader">
                                            <th>{{#str}} description, block_academic_reports {{/str}}</th>
                                            <th>{{#str}} viewreport, block_academic_reports {{/str}}</th>
                                            <th>{{#str}} createddate, block_academic_reports {{/str}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ac-rep-tbody ">
                                        {{#reports}}
                                        <tr >
                                            <td class="view-report">{{description}}</td>
                                            <td class="text-center view-report"> 
                                                <i data-tdss="{{tdocumentsseq}}"  class="fa fa-file-pdf-o ar-file-pdf" ></i>
                                            </td>
                                            <td>{{documentcreateddate}}</td>
                                        </tr>
                                        {{/reports}}
                                    </tbody>
                                </table>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
        </div>
</section>
{{#js}}
require(['block_academic_reports/controls'], function(Mod) {
Mod.init();
});
{{/js}}